@layer global {
  :root {
    --color-primary: #195de6;
    --bg-light: rgb(255 255 255 / 1);
    --bg-dark: #0f172a;
    --sb-light: #ffffff;
    --sb-dark: #1e293b;
    --bc-light: #e2e8f0;

    --font-color-light: rgb(148 163 184 / 1);
    --font-color-dark: rgb(71 85 105 / 0.9);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    color: var(--font-color-light);
    text-transform: uppercase;
  }

  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.625rem;

    color: var(--font-color-dark);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: 769px) {
      flex-direction: row;
    }
  }

  .margin-block-end-2rem {
    margin-block-end: 2rem;
  }

  .margin-block-end-075rem {
    margin-block-end: 0.75rem;
  }
}

aside {
  padding: 2rem;
  background-color: var(--bg-light);

  @media (min-width: 769px) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 380px;
    overflow-y: auto;
    border-right: 1px solid var(--bc-light);
    z-index: 40;
    padding: 2rem;
  }

  .sb__profile {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 100px;
      height: 100px;
      border-radius: 1.5rem;
      filter: grayscale(80%);
      transition:
        filter 600ms ease,
        width 600ms ease,
        height 600ms ease;
    }

    &:hover img {
      filter: grayscale(0%);
      width: 200px;
      height: 200px;
    }
  }

  .sb__profile-info p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(100 116 139 / 1);
  }

  .sb__status-badge {
    color: rgb(5 150 105 / 1);
    background-color: rgb(236 253 245 / 1);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid rgb(209 250 229 / 1);
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    span {
      width: 0.5rem;
      height: 0.5rem;
      background-color: rgb(16 185 129 / 1);
      border-radius: 9999px;
    }
  }

  .sb__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    span {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1rem;

      padding: 0.25rem 0.625rem;
      background-color: rgb(241 245 249 / 1);
      border-radius: 0.5rem;
    }
  }

  .sb__contact {
    padding-block-start: 1.5rem;
    border-top: 1px solid rgb(241 245 249 / 1);

    .sb__mail {
      color: rgb(25 93 230 / 1);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.75rem;

      span {
        font-size: 18px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .sb__socials {
      display: flex;
      gap: 1rem;
      margin-block-start: 1rem;

      a {
        color: rgb(148 163 184 / 1);
        transition: color 300ms ease;

        &:hover {
          color: rgb(25 93 230 / 1);
        }
      }
    }
  }
}
